*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
*.xcodeproj/project.xcworkspace/xcuserdata/*
*.xcodeproj/xcuserdata/*.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/xcschememanagement.plist
Package.resolved
